@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.main_title {
  color: #fff;
  font-family: Fira Code;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 2rem;
}

.main_title span {
  color: #96eb95;
  font-family: Fira Code;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.form_container {
  margin-top: 2rem;
}

.form_container label {
  color: #fff;
  font-family: Fira Code;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
}

.form_container input {
  height: 48px;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(217, 217, 217, 0.1);
  color: white;
  font-size: 1.4rem;
  border: none;
  padding: 10px;
  outline: none;
}

.form_container button {
  width: 171px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #96eb95;
  background: #96eb95;
  color: #373737;

  font-family: Fira Code;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 1rem;
}

body {
  background-image: url("../assets/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Fira Code";
  min-height: 100vh;
}

.coins_container {
  width: 100%;
  height: 583px;
  flex-shrink: 0;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.06);
  margin-top: 2rem;

}
.currency__rate {
  background-color: rgb(50, 50, 50);
  color: white;
  border-radius: 10px;
  padding: 1rem;
  margin: 0.1em;
  width: 15vw;
}

.coins {
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.title_coins {
  text-align: center;
  color: white;
  margin: 10px 0 10px 0;
}

.value {
   color: #FFE713;
}